.Nav-Bar:link {
	color: #212738;
	margin: 0;
	padding: 5px;
	font-family: "Montserrat", sans-serif;
}
.Nav-Bar:visited {
	color: #212738;
	margin: 0;
	padding: 5px;
	font-family: "Montserrat", sans-serif;
}
.Nav-Bar:hover {
	color: #f3ca40;
	margin: 0;
	padding: 5px;
	font-family: "Montserrat", sans-serif;
}
.Nav-Bar:active {
	color: #f3ca40;
	margin: 0;
	padding: 5px;
	font-family: "Montserrat", sans-serif;
}
